<!DOCTYPE html>
<html>
  <head>
    <title>Jhaocheng Wu Profile</title>
    <link rel="shortcut icon" href="/img/w.ico">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
    <link href='/stylesheets/lightbox.css' rel='stylesheet'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
	
	<nav class="navbar navbar-default navbar-static-top navbar-fixed-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">
	        <img alt="Brand" src="...">
	      </a>
	    </div>
	    <p style="line-height: 20px">Hi, my name is JhaoCheng Wu</p>
	  </div>
	</nav>
	<div class="container-fluid waterfall">
		<div class="grid">
			<% profiles.forEach(function(profile) { %>
				<div class="grid-item">
					<div class="thumbnail">
						<a href="<%= profile.pic %>" data-lightbox="<%= profile.title %>" data-title="<%= profile.title %>" ><img src="<%= profile.pic %>"></a>
				        <div class="caption">
				        	<h3><%= profile.title %></h3>
				        	<p><%= profile.paragraph %></p>
				        	<p>
					        	<a id="like"class="btn btn-danger" role="button" data-id="<%=profile._id %>">
					        	<i class="fa fa-heart-o"></i>
					        		<span class="count"><%= profile.likes %></span> 
					        	 Likes
					        	</a>
				        	</p>
				        </div>
				    </div>
			    </div>
			<% }) %>
		</div>
		<div id="loadmoreajaxloader" style="display:none;"><center><img src="/img/3.gif" /></center></div>
	</div>

	<script src='/javascripts/jquery-2.1.4.min.js'></script>
  	<script src='/javascripts/bootstrap.min.js'></script>
  	<script src='/javascripts/masonry.pkgd.min.js'></script>
  	<script src='/javascripts/client.js'></script>
  	<script src='/javascripts/lightbox.min.js'></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.0/masonry.pkgd.min.js"></script>
  </body>
</html>
