<!DOCTYPE html>
<html>
  <head>
    <title>Jhaocheng Wu Profile</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
    <link href='/stylesheets/lightbox.css' rel='stylesheet'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
	
	<nav class="navbar navbar-default navbar-static-top navbar-fixed-top">
	  <div class="wu_container">
	   <form class="navbar-form navbar-left" role="search">
	   		<div class="row">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Try to search 'videos'">
				</div>
				<button type="submit" class="btn btn-default">Search</button>
			</div>
		</form>
	  </div>
	</nav>
	<div class="container-fluid waterfall">
		<div class="row">
		<div class="col-xs-12">
			<% profiles.forEach(function(profile) { %>
				<div class="col-xs-6 col-sm-4 col-md-3 col-lg-15 list-group">
					<div class="thumbnail">
						<a href="<%= profile.pic %>" data-lightbox="<%= profile.title %>" data-title="<%= profile.title %>" ><img src="<%= profile.pic %>"></a>
				        <div class="caption">
				        	<h3><%= profile.title %></h3>
				        	<p><%= profile.paragraph %></p>
				        	<p>
					        	<a id="like"class="btn btn-danger" role="button" data-id="<%=profile._id %>">
					        	<i class="fa fa-heart-o"></i>
					        		<span class="count"><%= profile.likes %></span> 
					        	 Likes
					        	</a>
				        	</p>
				        </div>
				    </div>
			    </div>
			<% }) %>
		</div>
		</div>
	</div>

	<script src='/javascripts/jquery-2.1.4.min.js'></script>
  	<script src='/javascripts/bootstrap.min.js'></script>
  	<script src='/javascripts/masonry.pkgd.min.js'></script>
  	<script src='/javascripts/client.js'></script>
  	<script src='/javascripts/lightbox.min.js'></script>
  </body>
</html>
